---
import Weblayout from "../layouts/debut.astro";
---


<Weblayout>


    <section class="custom-header">
        <div class="header-left">
          <img src="/public/asset/moi.png" alt="Ton image" class="profile-image" />
        </div>
        <div class="header-center">
          <h1> A propos de Moi</h1>
        </div>
        <div class="header-right">
          <p><span class="prenom">Louis</span><br /><span class="nom">Davin</span></p>
        </div>
      </section>
      

      <div class="video-container">
        <video controls>
          <source src="asset/louis_andra.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>




    
<!-- 
    <div class="container_page">
        <div class="container_video">
            <div class="video_wrapper">
                <video controls autoplay muted loop>
                    <source src="/public/asset/louis_andra.mp4" type="video/mp4">
                    Votre navigateur ne supporte pas les vidéos HTML5.
                </video>
            </div>
        </div> -->


    
        <script src="/src/intaraction/index.js">

        </script>
        

</Weblayout>