<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#">
                <img src="/asset/logo-andra.png" alt="Andra Logo">
            </a>
        </div>
        <div class="title">
            <h1>Andra Vision</h1>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="cigeo.html">Cigeo</a></li>
            <li><a href="app.html">A propos</a></li>
        </ul>
    </nav>
</header>
